body {
    margin: 0;
    background-color: #fafafa;
}

header {
    background-color: #41B3A3;
    padding: 1em;
    margin-bottom: 2em;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #fffffe;
    padding: 0;
    margin: 0;
}

button {
    background-color: #70cabe;
    padding: .5em;
    border-radius: 2px;
    color: #fffffe;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#inventory button {
    background-color: #F97068;
}

#inventory button:hover {
    background-color: #e65149;
}

button:hover {
    background-color: #8aecdf;
    padding: .5em;
    color: #fffffe;
    border: none;
    cursor: pointer;
}

h3, p, button, select, label, #log-in-message {
    font-family: 'IBM Plex Sans', sans-serif;
}

#log-in-message {
    padding-bottom: 10px;
    color: #e65149;
    font-weight: bold;
    text-align: center;
}

.d-none {
    display: none;
}

#log-in-form table {
    margin: 10px auto 40px auto;
}

#log-in-form table td {
    padding: 5px;
}

#log-in-button-row {
    text-align: center;
}

select, input {
    border: 1px solid #41B3A3;
}

#logo-container {
    text-align: center;
    display: block;
}

#logo-container img {
    width: 6em;
    height: 6em;
}

#log-in-container {
    text-align: right;
    padding-right: 1em;
}

#inventory {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

#price {
    font-weight: bold;
}

#quantity-selection {
    margin-bottom: 10px;
}

.product {
    margin: 0 auto 2em auto;
    padding: 1em;
    text-align: center;
    border: 2px solid #41B3A3;
    border-radius: 6px;
    background-color: #fffffe;
}

.product img {
    height: 300px;
    width: 300px;
    text-align: center;
    object-fit: cover;
}